/* App-specific styles can go here if needed, but Tailwind is used for most styling */
@layer base {
  body {
    @apply bg-slate-50 text-slate-900;
  }
}

/* Custom Scrollbar */

.no-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.no-scrollbar::-webkit-scrollbar-track {
  background: #f1f5f9;
  /* slate-100 */
  border-radius: 10px;
}

.no-scrollbar::-webkit-scrollbar-thumb {
  background: #94a3b8;
  /* slate-400 */
  border-radius: 10px;
}

.no-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #64748b;
  /* slate-500 */
}

/* Firefox */
.no-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #94a3b8 #f1f5f9;
}